.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.section {
  display: flex;
  flex-grow: 1;
  width: 100%;
  border: 1px solid red;
  box-sizing: border-box;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  border: 1px solid blue;
  box-sizing: border-box;
}
